.accordion {
  background-color: transparent;

  &__wrapper {
    padding: 30px;
    border-radius: 16px;
    background-color: $light-1;
  }

  &-item {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #c3c3c3;
    border-radius: 0;

    &__last {
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border: 0;
    }
  }

  &-button {
    box-shadow: none !important;
    background-color: transparent !important;
    font-size: $fs-22;
    font-weight: 700;
    color: $dark !important;
    padding: 32px 0 !important;

    &.collapsed {
      &::after {
        background-image: none;
        content: '\e908';
        font-family: "icomoon";
      }
    }

    &:not(.collapsed) {
      &::after {
        background-image: none;
        content: '\e907';
        font-family: "icomoon";
      }
    }
  }

  &-header {
    padding: 0 !important;
  }

  &-body {
    padding: 0 0 30px !important;
  }
}

@media only screen and (max-width: 992px) {
  .accordion {
    &__wrapper {
      padding: 0 10px;
      border-radius: 10px;
    }

    &-button {
      font-size: $fs-16;
      padding: 10px 0 !important;
    }

    &-body {
      font-size: $fs-14;
    }
  }
}

@media only screen and (max-width: 768px) {
  .accordion {

    &-button {
      font-size: $fs-14;
    }

    &-body {
      font-size: $fs-12;
    }
  }
}