.common-card {
  padding: 40px;
  background: linear-gradient(124.65deg, rgba(255, 255, 255, 0.2) 3.21%, #FFFFFF 94.92%);
  border-radius: 20px;
  box-shadow: 0px 4px 56px 0px #6848FF0F;
  backdrop-filter: blur(8px);
  text-align: center;

  &__alt {
    background: linear-gradient(308deg, rgba(255, 255, 255, 0.20) 0%, #FFF 100%);
  }

  &__list {
    &__item {
      display: flex;
      justify-content: space-around;
      align-items: center;

      p {
        margin: 0;
      }
    }

    &__icon {
      font-size: 120px;
      line-height: .4;

      color: $primary;
    }
  }
}

@media only screen and (max-width: 992px) {
  .common-card {
    padding: 20px;

    &__alt {
      &--margin {
        margin-top: 20px;
      }
    }

    &__list {
      &__icon {
        font-size: 70px;
        line-height: 0.5;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .common-card {
    padding: 20px;

    &__list {
      &__icon {
        font-size: 50px;

      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .common-card {
    padding: 10px;

    &__arrow {
      padding: 0;
    }
  }
}