h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

p {
	font-family: "Poppins", sans-serif;
}

.section-title {
	&__xl {
		font-size: $fs-60;
		line-height: 1.3;
		font-weight: $fw-700;

	}

	&__lg {
		font-size: $fs-50;
		line-height: 1.3;
		font-weight: $fw-700;
	}

	&__md {
		font-size: $fs-40;
		line-height: 1.5;
		font-weight: $fw-700;
	}

	&__sm {
		font-size: $fs-32;
		line-height: 1.2;
		font-weight: $fw-600;
	}
}

@media only screen and (max-width: 768px) {
	.section-title {
		&__xl {
			font-size: $fs-24;

			&--mob {
				font-size: $fs-30;
			}
		}

		&__lg {
			font-size: $fs-30;
		}

		&__md {
			font-size: $fs-20;
		}

		&__sm {
			font-size: $fs-20;
		}
	}
}