// ==== Colors

$primary: #6848FF;
$secondary: #FF8800;
$white: #FFFFFF;
$dark: #333333;
$blue: #1A73E8;
$teal-blue: #7B7F93;
$sky-blue: #E5E8F7;
$light-1: #F7F7F7;
$light-2: #F0F0F0;
$light-3: #F1F0F7;
$orange: #F3BE11;
$red: #6c221d;
$green: #03FFE2;
$success: #e7f3ff;
$warning: #fffcdb;
$grey: #C3C3C3;


// ==== Font Sizes 14 16 18 h1:44 h2:37 h3:25 h4:22
$fs-10: 10px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-25: 25px;
$fs-28: 28px;
$fs-30: 30px;
$fs-32: 32px;
$fs-34: 34px;
$fs-35: 35px;
$fs-36: 36px;
$fs-40: 40px;
$fs-50: 50px;
$fs-60: 60px;


// ==== Line Height 22 26 28 30 35 40 52 62 70
$lh-1: 1;
$lh-12: 12px;
$lh-14: 14px;
$lh-16: 16px;
$lh-18: 18px;
$lh-19: 19px;
$lh-22: 22px;
$lh-24: 24px;
$lh-25: 25px;
$lh-26: 26px;
$lh-28: 28px;
$lh-29: 29px;
$lh-30: 30px;
$lh-31: 31px;
$lh-34: 34px;
$lh-35: 35px;
$lh-36: 36px;
$lh-38: 38px;
$lh-40: 40px;
$lh-42: 42px;
$lh-43: 43px;
$lh-48: 48px;
$lh-52: 52px;
$lh-58: 58px;
$lh-60: 60px;
$lh-62: 62px;
$lh-67: 67px;
$lh-70: 70px;
$lh-74: 74px;
$lh-90: 90px;
$lh-96: 96px;
$lh-104: 104px;
$lh-127: 127px;

// ==== Font Weight: 300 400 600 700
$fw-250: 250;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// ==== border-radius
$br-1: 2px;
$br-2: 4px;
$br-3: 8px;
$br-4: 10px;
$br-5: 12px;