<div class="accordion accordion__wrapper" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="financialOneTitle">
			<button
				class="accordion-button"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#financialOne"
				aria-expanded="true"
				aria-controls="financialOne"
			>
				How Do I Earn Revenue Through Wellness Plus?
			</button>
		</h2>
		<div
			id="financialOne"
			class="accordion-collapse collapse show"
			aria-labelledby="financialOneTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				You set your own pricing for the wellness treatments you offer. After
				covering the fixed wholesale cost, the remaining amount is your profit.
				Track orders, clients, and earnings easily through your portal.
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="financialTwoTitle">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#financialTwo"
				aria-expanded="false"
				aria-controls="financialTwo"
			>
				Are there any setup or subscription fees?
			</button>
		</h2>
		<div
			id="financialTwo"
			class="accordion-collapse collapse"
			aria-labelledby="financialTwoTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				We offer flexible partnership plans. Add a high-margin wellness offering
				to your business and retain profits from every program sold.. If any
				fees apply, they’ll be clearly outlined during onboarding.
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="financialThreeTitle">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#financialThree"
				aria-expanded="false"
				aria-controls="financialThree"
			>
				How are medication prices set?
			</button>
		</h2>
		<div
			id="financialThree"
			class="accordion-collapse collapse"
			aria-labelledby="financialThreeTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				We provide clear, standardized pricing for each program (e.g., monthly
				GLP-1 packages). These prices include doctor consults, medications, and
				shipping — with no hidden costs for your client.
			</div>
		</div>
	</div>

	<div class="accordion-item accordion-item__last">
		<h2 class="accordion-header" id="financialFour">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#financialFour"
				aria-expanded="false"
				aria-controls="financialFour"
			>
				What happens if a client is not approved by the doctor?
			</button>
		</h2>
		<div
			id="financialFour"
			class="accordion-collapse collapse"
			aria-labelledby="financialFour"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				If the doctor reviews the intake form and decides the treatment isn’t
				suitable, the client will not be charged for medication. You will not be
				penalized, and the client may still be eligible for other treatments.
			</div>
		</div>
	</div>
</div>
