<div class="accordion accordion__wrapper" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="complianceOneTitle">
			<button
				class="accordion-button"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#complianceOne"
				aria-expanded="true"
				aria-controls="complianceOne"
			>
				Is this platform compliant with healthcare laws?
			</button>
		</h2>
		<div
			id="complianceOne"
			class="accordion-collapse collapse show"
			aria-labelledby="complianceOneTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				Yes. Wellness Plus operates under a HIPAA-secure infrastructure, using
				licensed doctors for prescriptions and 503A-compounding pharmacies for
				fulfillment. All services are legally structured for clients safety and
				compliance.
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="complianceTwoTitle">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#complianceTwo"
				aria-expanded="false"
				aria-controls="complianceTwo"
			>
				Will my business carry any medical liability?
			</button>
		</h2>
		<div
			id="complianceTwo"
			class="accordion-collapse collapse"
			aria-labelledby="complianceTwoTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				No. All medical decisions are made by licensed physicians. Your role is
				strictly non-clinical — you're simply helping your clients get access to
				licensed care.
			</div>
		</div>
	</div>
	<div class="accordion-item accordion-item__last">
		<h2 class="accordion-header" id="complianceThreeTitle">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#complianceThree"
				aria-expanded="false"
				aria-controls="complianceThree"
			>
				Who handles patient privacy and consent?
			</button>
		</h2>
		<div
			id="complianceThree"
			class="accordion-collapse collapse"
			aria-labelledby="complianceThreeTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				Our system sends a secure intake form directly to each client. This form
				collects full medical history and consent before any prescriptions are
				issued — ensuring privacy, safety, and full legal compliance.
			</div>
		</div>
	</div>
</div>
