.site {
  &__footer {
    position: relative;
    overflow: hidden;

    &--top {
      padding: 120px 0;
      background: linear-gradient(180deg, #F7F7F7 20.97%, #FFECDB 85.95%);
    }

    &__contact {
      li {
        a {
          color: $dark;
          font-size: $fs-20;
          font-weight: $fw-600;
          display: flex;
          align-items: center;
        }
      }

      &--icon {
        width: 40px;
        height: 40px;
        background-color: $secondary;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 30px;

      li {
        a {
          text-decoration: none;
          font-weight: 500;
          color: $dark;
        }
      }
    }

    &__social {
      display: flex;
      gap: 24px;

      li {
        a {
          font-size: $fs-36;
          color: $primary;
        }
      }
    }

    &__top-scroller {
      background: url(../img/frame/ellipse.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: inline-block;
      width: 160px;
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      text-align: center;

      &:hover {
        color: $white;
      }
    }

    &--bottom {
      padding: 18px 0;
      background-color: $secondary;
      color: $white;
      text-align: center;

      p {
        font-size: $fs-16;
        font-weight: $fw-400;
        margin: 0;
        color: $white;
      }
    }

    &__frame {
      &__left {
        position: absolute;
        left: -45px;
        top: 128px;
      }

      &__top {
        position: absolute;
        left: 40%;
        top: 54px;
      }

      &__right {
        position: absolute;
        right: -200px;
        top: 54px;


        img {
          width: 440px;
        }
      }

      &__center {
        position: absolute;
        top: 100px;
        right: 30%;

        img {
          width: 50px;
        }
      }

      &__ring {
        position: absolute;
        bottom: -20px;
        right: 20%;

        img {
          width: 150px;
        }
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      align-items: end;
    }

    &__center {
      margin-top: 100px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .site {
    &__footer {
      &--top {
        padding: 60px 0;
      }

      &__contact {
        li {
          a {
            font-size: $fs-16;
          }
        }

        &--icon {
          width: 30px;
          height: 30px;
          font-size: $fs-16;
        }
      }

      &__social {
        li {
          a {
            font-size: $fs-24;
          }
        }
      }

      &__center {
        margin-top: 80px;
      }

      &__menu {
        gap: 10px;

        li a {
          font-size: $fs-16;
        }
      }

      &__top-scroller {
        width: 150px;
        height: 150px;

      }

      &__right {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .site {
    &__footer {
      &__top {
        padding: 50px 0;
      }

      &__menu {
        gap: 10px;
      }

      &__top-scroller {
        width: 150px;
        height: 150px;
      }

      &__contact {
        li {
          a {
            justify-content: center;
          }
        }
      }

      &__social {
        justify-content: center;
      }

      &__center {
        margin-top: 30px;
      }

      &__menu {
        align-items: center;
      }

      &__right {
        margin-top: 30px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
        padding-bottom: 50px;
      }

      &__frame {
        display: none;
      }
    }
  }
}