---
import ContactFormMain from "../components/ContactFormMain.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<!--=====|| Main Section Start ||=====-->
	<main class="page page__alt">
		<!--===|| Contact Hero Section Start ||===-->
		<section class="contact-page__hero">
			<div class="contact-page__frame">
				<div class="contact-page__frame__left">
					<img src="assets/img/frame/frame-1-light.svg" alt="Frame" />
				</div>
				<div class="contact-page__frame__right">
					<img src="assets/img/frame/frame-3-light.svg" alt="Frame" />
				</div>
				<div class="contact-page__frame__top">
					<img src="assets/img/frame/frame-2-light.svg" alt="Frame" />
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="section-title__xl text-white text-md-start text-center">
							See Wellness Plus <br /> in Action
						</h1>
						<p
							class="text-white fs-md-22 fs-16 fw-500 mt-20 text-md-start text-center"
							>Want to understand how it all works? Book a free, no-pressure
							walkthrough with our team.  We’ll show you:
						</p>
						<ul class="list__items">
							<li class="list__item"
								><i class="icon-tick list__item__icon"></i> How to recommend programs
								in your gym/spa
							</li>
							<li class="list__item"
								><i class="icon-tick list__item__icon"></i> What clients see and
								how they fill out the intake
							</li>
							<li class="list__item"
								><i class="icon-tick list__item__icon"></i> How orders get approved,
								shipped, and refilled
							</li>
							<li class="list__item"
								><i class="icon-tick list__item__icon"></i> How you earn from every
								order — with zero liability
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!--===|| Contact Hero Section End ||===-->

		<!--===|| Contact Forrm Section Start ||===-->
		<section class="contact-page__form">
			<div class="container">
				<ContactFormMain />
			</div>
		</section>
		<!--===|| Contact Forrm Section End ||===-->
	</main>
	<!--=====|| Main Section End ||=====-->
	<Footer />
</Layout>
