---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<!--=====|| Main Section Start ||=====-->
	<main class="page">
		<!--===|| Banner Section Start ||===-->
		<section class="home-banner">
			<div class="container">
				<div class="home-banner__content">
					<h1 class="section-title__lg"
						>Ready to <span class="text-primary">Significantly Boost</span> Your
						Revenue?</h1
					>
					<p
						>Integrate in-demand prescription wellness treatments, including
						cutting-edge weight loss solutions, to expand your services and
						attract more high-value clients to your med spa or gym.</p
					>
				</div>
				<div class="home-banner__img">
					<img src="assets/img/banner.png" alt="Home Banner" />
				</div>
				<div class="home-banner__action">
					<button class="theme-btn theme-btn__secondary">Request a Demo</button>
				</div>
			</div>
		</section>
		<!--===|| Banner Section End ||===-->

		<!--===|| Client Section End ||===-->
		<section class="client">
			<div class="container">
				<h1 class="section-title__xl text-white"
					>Trusted by Top Wellness <br /> Organizations Nationwide</h1
				>
				<p class="fs-lg-22 fs-md-18 fs-sm-16 fs-14 text-white mt-3"
					>Powering the Next Generation of Wellness Clinics and Fitness Centers</p
				>
				<div class="client__items">
					<div class="client__item">
						<img src="assets/img/nexgen.svg" alt="Nexgen" />
					</div>
					<div class="client__item">
						<img src="assets/img/ufc.svg" alt="UFC" />
					</div>
					<div class="client__item">
						<img src="assets/img/ufc-gym.svg" alt="UFC Gym" />
					</div>
					<div class="client__item">
						<img src="assets/img/rizz.svg" alt="Rizz" />
					</div>
					<div class="client__item">
						<img src="assets/img/docuspa.svg" alt="Docuspa" />
					</div>
				</div>
			</div>
		</section>
		<!--===|| Client Section End ||===-->
	</main>
	<!--=====|| Main Section End ||=====-->

	<Footer />
</Layout>
