@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n6qpq');
  src:  url('fonts/icomoon.eot?n6qpq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?n6qpq') format('woff2'),
    url('fonts/icomoon.ttf?n6qpq') format('truetype'),
    url('fonts/icomoon.woff?n6qpq') format('woff'),
    url('fonts/icomoon.svg?n6qpq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tick:before {
  content: "\e90d";
}
.icon-call:before {
  content: "\e90b";
}
.icon-envelope:before {
  content: "\e90c";
}
.icon-hamburger:before {
  content: "\e909";
}
.icon-cross:before {
  content: "\e90a";
}
.icon-x:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-brush-arrow-top:before {
  content: "\e905";
}
.icon-brush-arrow-right:before {
  content: "\e906";
}
.icon-minus:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e908";
}
