<div class="accordion accordion__wrapper" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="paientOneTitle">
			<button
				class="accordion-button"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#paientOne"
				aria-expanded="true"
				aria-controls="paientOne"
			>
				Who handles clinical questions or follow-ups?
			</button>
		</h2>
		<div
			id="paientOne"
			class="accordion-collapse collapse show"
			aria-labelledby="paientOneTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				<p
					>All medical questions are directed to our licensed provider team.
					Clients are encouraged to respond to their intake confirmation email
					for follow-ups. You are not responsible for medical support.</p
				>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="patientTwoTitle">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#patientTwo"
				aria-expanded="false"
				aria-controls="patientTwo"
			>
				Can clients pause or adjust their treatments?
			</button>
		</h2>
		<div
			id="patientTwo"
			class="accordion-collapse collapse"
			aria-labelledby="patientTwoTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				Yes. Clients may pause or cancel treatments by contacting our support
				team. Dosage adjustments are made by doctors based on intake forms and
				health conditions.
			</div>
		</div>
	</div>
</div>
