<div class="accordion accordion__wrapper" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="dataOneTitle">
			<button
				class="accordion-button"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#dataOne"
				aria-expanded="true"
				aria-controls="dataOne"
			>
				Is client data secure?
			</button>
		</h2>
		<div
			id="dataOne"
			class="accordion-collapse collapse show"
			aria-labelledby="dataOneTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				<p
					>Absolutely. Wellness Plus uses HIPAA-compliant platforms for all data
					handling. All intake forms, medical records, and prescriptions are
					encrypted and accessible only by licensed professionals.</p
				>
			</div>
		</div>
	</div>
</div>
