<div class="accordion accordion__wrapper" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="launchOneTitle">
			<button
				class="accordion-button"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#launchOne"
				aria-expanded="true"
				aria-controls="launchOne"
			>
				How fast can I start?
			</button>
		</h2>
		<div
			id="launchOne"
			class="accordion-collapse collapse show"
			aria-labelledby="launchOneTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				<p
					>Once you're onboarded, we can have your business live within 24–48
					hours. You’ll receive portal access, onboarding training, and sales
					materials.</p
				>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="launchThreeTitle">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#launchThree"
				aria-expanded="false"
				aria-controls="launchThree"
			>
				What training do I receive?
			</button>
		</h2>

		<div
			id="launchThree"
			class="accordion-collapse collapse"
			aria-labelledby="launchTwoTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				<p>You’ll get:</p>
				<ul>
					<li>A welcome guide</li>
					<li>Product education (GLP-1s, Peptides, NAD+, Men’s Health)</li>
					<li>Step-by-step usage of the Wellness Plus Portal</li>
					<li> Marketing tools and scripts to help promote your services</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="launchThreeTitle">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#launchTwo"
				aria-expanded="false"
				aria-controls="launchTwo"
			>
				How do I track my referrals and earnings?
			</button>
		</h2>

		<div
			id="launchTwo"
			class="accordion-collapse collapse"
			aria-labelledby="launchThreeTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				<p>You’ll get access to a <strong>portal</strong> that tracks:</p>
				<ul>
					<li
						>Client submissions/li>
						<li>Approved orders</li>
						<li>Refills</li>
						<li> Earnings</li>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
