<div class="accordion accordion__wrapper" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="revenueOneTitle">
			<button
				class="accordion-button"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#revenueOne"
				aria-expanded="true"
				aria-controls="revenueOne"
			>
				How much can my business earn?
			</button>
		</h2>
		<div
			id="revenueOne"
			class="accordion-collapse collapse show"
			aria-labelledby="revenueOneTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				<p
					>Most of our clients earn between $10,000 to $30,000+ monthly,
					depending on client volume. Earnings grow as clients continue their
					treatments — with refills generating recurring revenue for you.</p
				>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="revenueOneTitle">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#revenueOneTitle"
				aria-expanded="false"
				aria-controls="revenueOneTitle"
			>
				What if a client doesn’t complete payment?
			</button>
		</h2>
		<div
			id="revenueOneTitle"
			class="accordion-collapse collapse"
			aria-labelledby="revenueOneTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				If a client’s payment fails or is incomplete, the order will not
				proceed. You are only paid on successful, fulfilled orders — but you
				will not be penalized for drop-offs.
			</div>
		</div>
		<div
			id="revenueOneTitle"
			class="accordion-collapse collapse"
			aria-labelledby="revenueOneTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				If a client’s payment fails or is incomplete, the order will not
				proceed. You are only paid on successful, fulfilled orders — but you
				will not be penalized for drop-offs.
			</div>
		</div>
	</div>
</div>
