<div class="accordion accordion__wrapper" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="medicationOneTitle">
			<button
				class="accordion-button"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#medicationOne"
				aria-expanded="true"
				aria-controls="medicationOne"
			>
				What types of medications do you offer?
			</button>
		</h2>
		<div
			id="medicationOne"
			class="accordion-collapse collapse show"
			aria-labelledby="medicationOneTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				<p>We currently offer: </p>
				<ul class="list__items--text">
					<li>GLP-1s (Semaglutide & Tirzepatide — injectable & oral)</li>
					<li>Peptides for energy, recovery, fat loss, sleep, and skin</li>
					<li>NAD+ injections for focus and cellular health</li>
					<li>Men’s Health stacks for natural testosterone support</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="medicationTwoTitle">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#medicationTwo"
				aria-expanded="false"
				aria-controls="medicationTwo"
			>
				Where are the medications prepared and shipped from?
			</button>
		</h2>
		<div
			id="medicationTwo"
			class="accordion-collapse collapse"
			aria-labelledby="medicationTwoTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				All prescriptions are fulfilled by licensed 503A-compounding pharmacies
				in the U.S. Medications are shipped directly to the client’s home in
				temperature-controlled packaging.
			</div>
		</div>
	</div>
	<div class="accordion-item accordion-item__last">
		<h2 class="accordion-header" id="medicationThreeTitle">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#medicationThree"
				aria-expanded="false"
				aria-controls="medicationThree"
			>
				Do clients administer the treatments themselves?
			</button>
		</h2>
		<div
			id="medicationThree"
			class="accordion-collapse collapse"
			aria-labelledby="medicationThreeTitle"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				Yes. We send full instructions (including video tutorials) for
				self-administration of injectable or oral treatments. No in-person
				dosing is required.
			</div>
		</div>
	</div>
</div>
