<div class="form-card">
	<form>
		<div class="row mb-4">
			<div class="col">
				<label for="firstName" class="form-card__label"
					>First Name <span class="form-card__required"></span></label
				>
				<input type="text" class="form-control" id="firstName" />
			</div>
			<div class="col">
				<label for="lastName" class="form-card__label"
					>Last Name <span class="form-card__required"></span></label
				>
				<input type="text" class="form-control" id="lastName" />
			</div>
		</div>

		<div class="mb-4">
			<label for="email" class="form-card__label"
				>Email <span class="form-card__required"></span>
			</label>
			<input type="email" class="form-control" id="email" />
		</div>

		<div class="mb-4">
			<label for="phone" class="form-card__label"
				>Phone Number <span class="form-card__required"></span></label
			>
			<input type="tel" class="form-control" id="phone" />
		</div>

		<div class="mb-4">
			<label for="businessType" class="form-card__label">Business Type</label>
			<select
				class="form-select form-select__field"
				aria-label="Default select example"
			>
				<option selected>Gym</option>
				<option value="1">Health Care</option>
			</select>
		</div>

		<div class="mb-4">
			<label for="message" class="form-card__label"
				>Message <span class="form-card__required"></span></label
			>
			<textarea class="form-control" id="message" rows="4"></textarea>
		</div>

		<div class="text-end">
			<button class="theme-btn theme-btn__secondary fs-18">Send Message</button>
		</div>
	</form>
</div>
