<div class="form-card">
	<form>
		<div class="row mb-4 g-4">
			<div class="col-6">
				<label for="fullName" class="form-card__label">Full Name</label>
				<input type="text" class="form-control" id="fullName" />
			</div>
			<div class="col-6">
				<label for="businessName" class="form-card__label">Business Name</label>
				<input type="text" class="form-control" id="businessName" />
			</div>
			<div class="col-6">
				<label for="emailAddress" class="form-card__label">Email Address</label>
				<input type="email" class="form-control" id="emailAddress" />
			</div>
			<div class="col-6">
				<label for="phone" class="form-card__label">Phone Number</label>
				<input type="tel" class="form-control" id="phone" />
			</div>
			<div class="col-6">
				<label for="phone" class="form-card__label">Location (State)</label>
				<select
					class="form-select form-select__field"
					aria-label="Default select example"
				>
					<option selected>Alaska</option>
					<option value="1">New York</option>
					<option value="2">Dallas</option>
					<option value="3">Washington</option>
				</select>
			</div>
			<div class="col-6">
				<label for="phone" class="form-card__label">Business Type</label>
				<select
					class="form-select form-select__field"
					aria-label="Default select example"
				>
					<option selected>Gym</option>
					<option value="1">Health Care</option>
				</select>
			</div>
			<div class="col-12">
				<label for="message" class="form-card__label">Message</label>
				<textarea class="form-control" id="message" rows="4"></textarea>
			</div>
		</div>

		<div class="text-end">
			<button class="theme-btn theme-btn__secondary fs-18">Send Message</button>
		</div>
	</form>
</div>
