---

---

<footer class="site__footer">
	<div class="site__footer--top">
		<div class="site__footer__frame">
			<div class="site__footer__frame__left">
				<img src="assets/img/frame/frame-1.svg" alt="Frame" />
			</div>
			<div class="site__footer__frame__top">
				<img src="assets/img/frame/frame-2.svg" alt="Frame" />
			</div>
			<div class="site__footer__frame__right">
				<img src="assets/img/frame/frame-3-alt.svg" alt="Frame" />
			</div>
			<div class="site__footer__frame__center">
				<img src="assets/img/frame/ring-1.svg" alt="Frame" />
			</div>
			<div class="site__footer__frame__ring">
				<img src="assets/img/frame/ring-1.svg" alt="Frame" />
			</div>
		</div>
		<div class="container">
			<div class="row mt-md-4 mt-0">
				<div class="col-md-5">
					<h1 class="section-title__lg text-md-start text-center"
						>Drop Us <span class="text-primary">A Line</span></h1
					>
					<ul class="site__footer__contact mt-30">
						<li>
							<a href="mailto:support@wellnessplusrx.com">
								<span class="site__footer__contact--icon"
									><i class="icon-envelope"></i></span
								>
								<span>support@wellnessplusrx.com</span>
							</a></li
						>
						<li class="mt-4"
							><a href="tel:+1 (972) 843-7272 ">
								<span class="site__footer__contact--icon"
									><i class="icon-call"></i></span
								>
								<span> +1 (972) 843-7272</span>
							</a></li
						>
					</ul>
					<p class="mt-md-50 mt-20 fs-20 fw-500 text-md-start text-center"
						>Connect With Us</p
					>
					<ul class="site__footer__social">
						<!-- <li><a href=""><i class="icon-instagram"></i></a></li> -->
						<li
							><a
								href="https://www.facebook.com/wellnessplusrx/"
								target="_blank"><i class="icon-facebook"></i></a
							></li
						>
						<li
							><a
								href="https://www.linkedin.com/company/wellnessplusrx"
								target="_blank"><i class="icon-linkedin"></i></a
							></li
						>
						<!-- <li><a href=""><i class="icon-x"></i></a></li> -->
					</ul>
				</div>
				<div class="col-md-4 site__footer__center">
					<h5 class="section-title__sm text-md-start text-center"
						>Quick Links</h5
					>
					<ul class="site__footer__menu">
						<li> <a href="/about">About Us</a></li>
						<li> <a href="/faq">FAQ</a></li>
						<li> <a href="/contact-us">Contact</a></li>
						<li>
							<a href="/terms-and-conditions.html">Terms & Conditions</a></li
						>
						<li> <a href="/privacy-policy.html">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<div class="site__footer__right">
						<a class="site__footer__top-scroller" href="#">
							<div class="">
								<i class="icon-brush-arrow-top fs-30"></i>
								<p class="text-white">Back to Top</p>
							</div>
						</a>
						<div>
							<img src="assets/img/surescript.svg" alt="SureScript" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="site__footer--bottom">
	<div class="container">
		<p>Copyright 2025 wellnessplusrx.com | All Rights Reserved</p>
	</div>
</div>
