---

---

<footer class="site__footer">
	<div class="site__footer--top">
		<div class="container">
			<h1 class="section-title__lg"
				>Drop Us <span class="text-primary">A Line</span></h1
			>

			<div class="row mt-4">
				<div class="col-md-5">
					<ul class="site__footer__contact">
						<li>
							<a href="mailto:hello@wellnessplusrx.com">
								<span class="site__footer__contact--icon"
									><i class="icon-envelope"></i></span
								>
								<span>hello@wellnessplusrx.com</span>
							</a></li
						>
						<li class="mt-4"
							><a href="mailto:hello@wellnessplusrx.com">
								<span class="site__footer__contact--icon"
									><i class="icon-call"></i></span
								>
								<span> +1 214 432 2345</span>
							</a></li
						>
					</ul>
					<p class="mt-50 fs-20 fw-500">Connect With Us</p>
					<ul class="site__footer__social">
						<li><a href=""><i class="icon-instagram"></i></a></li>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
						<li><a href=""><i class="icon-x"></i></a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h5 class="section-title__sm">Quick Links</h5>
					<ul class="site__footer__menu">
						<li> <a href="/about">About Us</a></li>
						<li> <a href="/faq">FAQ</a></li>
						<li> <a href="/contact-us">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<a class="site__footer__top-scroller" href="#">
						<div>
							<i class="icon-brush-arrow-top"></i>
							<p>Back to Top</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="site__footer--bottom">
	<div class="container">
		<p>Copyright 2025 wellnessplusrx.com | All Rights Reserved</p>
	</div>
</div>
