<header class="site__header">
	<div class="container">
		<div class="site__navbar">
			<div class="site__logo">
				<a href="/">
					<img
						class="site__logo--img"
						src="assets/img/logo.svg"
						alt="Wellness Plus Logo"
					/>
				</a>
			</div>
			<div class="site__menu">
				<ul class="site__menu__list">
					<li> <a class="active" href="/">Home</a></li>
					<li> <a href="/about">About Us</a></li>
					<li> <a href="/faq">FAQ</a></li>
					<li> <a href="/contact">Contact</a></li>
				</ul>
				<ul class="site__menu--auth show-in-mobile"> </ul>

				<button class="toggle-menu">
					<i class="icon-hamburger"></i>
				</button>
			</div>

			<div class="site__action">
				<button class="theme-btn theme-btn__primary"> Get Started </button>
			</div>
		</div>
	</div>
</header>
