.contact-page {
  position: relative;

  &__hero {
    padding: 120px 0 180px;
    background: url(../img/contact.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  &__form {
    padding-bottom: 120px;
    margin-top: -100px;
  }

  &__frame {
    &__left {
      position: absolute;
      top: 50%;
      left: -50px;
    }

    &__right {
      position: absolute;
      top: -20px;
      right: -70px;
    }

    &__top {
      position: absolute;
      top: 250px;
      left: 55%;
    }
  }
}