.home-banner {
  text-align: center;
  padding: 40px 0 100px;

  &__content {
    max-width: 1030px;
    margin: 0 auto 60px;
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__action {
    margin-top: -180px;
  }
}

.client {
  padding: 80px 0;
  background: linear-gradient(260.39deg, rgba(104, 72, 255, 0) -20.49%, #6848FF 55.93%);
  text-align: center;

  &__items {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__item {
    img {
      width: 100%;
    }
  }

}