.home-banner {
  text-align: center;
  padding: 40px 0 100px;
  position: relative;
  margin-top: 140px;
  overflow: hidden;

  &__content {
    max-width: 1030px;
    margin: 0 auto 60px;
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__action {
    margin-top: -180px;
  }

  &__frame {
    &__left {
      position: absolute;
      left: 65px;
      top: 40px;
    }

    &__top {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &__right {
      position: absolute;
      top: 160px;
      right: 55px;
    }
  }
}

// Banner Section End

.client {
  padding: 80px 0;
  background: linear-gradient(260.39deg, rgba(104, 72, 255, 0) -20.49%, #6848FF 55.93%);
  text-align: center;
  position: relative;
  overflow: hidden;

  &__items {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__item {
    img {
      width: 100%;
    }
  }

  &__frame {
    &__left {
      position: absolute;
      left: -20px;
      top: 30px;
    }

    &__right {
      position: absolute;
      top: -130px;
      right: -150px;
    }

    &__bottom-left {
      position: absolute;
      left: -113px;
      bottom: -135px;
    }
  }

}

// Client Section End


.highlight {
  padding: 120px 0;
  background: rgba($primary, 0.04);
  position: relative;
  overflow: hidden;

  &__frame {
    &__top-left {
      position: absolute;
      top: 30px;
      left: -80px;

      img {
        width: 194px;
      }
    }

    &__bottom-left {
      position: absolute;
      left: -76px;
      bottom: -130px;

      img {
        width: 276px;
      }
    }

    &__top-right {
      position: absolute;
      top: 30px;
      right: -60px;

      img {
        width: 250px;
      }
    }

    &__bottom-right {
      position: absolute;
      right: -80px;
      bottom: -100px;
      transform: rotate(-15deg);

      img {
        width: 225px;
      }
    }
  }

  &__wrapper {
    position: relative;

    &__frame {

      &__top {
        position: absolute;
        top: -50px;
        left: -50px;
      }

      &__bottom {
        position: absolute;
        bottom: -50px;
        right: -50px;
      }
    }
  }
}

// Highlight Section End

.why-works {
  padding: 120px 0;
  background-color: $white;
  position: relative;
  overflow: hidden;

  &__items {
    margin-top: 100px;
  }

  &__item {
    color: $dark;
  }

  &__num {
    font-size: $fs-30;
    font-weight: $fw-500;
    color: $primary;
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 1px;
      background-color: $primary;
      top: 50%;
      transform: translateX(-50%);
      right: -60px;
    }
  }

  &__frame {
    &__left-top {
      position: absolute;
      top: 50px;
      left: -80px;
    }

    &__left-middle {
      position: absolute;
      top: 50%;
      left: -100px;

      img {
        width: 230px;
      }
    }

    &__left-bottom {
      position: absolute;
      bottom: -150px;
      left: -90px;

      img {
        width: 270px;
      }
    }

    &__right-top {
      position: absolute;
      top: 50px;
      right: -80px;

      img {
        width: 290px;
      }
    }

    &__right-middle {
      position: absolute;
      right: -130px;
      top: 40%;

      img {
        width: 200px;
      }
    }

    &__right-bottom {
      position: absolute;
      right: -100px;
      bottom: 50px;

      img {
        width: 220px;
      }
    }
  }
}

//WHy Works End


.treatment {
  padding: 120px 0 0;
  background: linear-gradient(180deg, #F7F7F7 47.43%, #FFECDB 100%);
  position: relative;
  overflow: hidden;

  .common-card {
    background: linear-gradient(128.11deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 26.18%, #FFFFFF 99.22%);
  }

  &__wrapper {
    max-width: 970px;
    margin: 0 auto;
    position: relative;

    &__frame {

      &__top {
        position: absolute;
        top: -50px;
        left: -50px;
      }

      &__bottom {
        position: absolute;
        bottom: -50px;
        right: -50px;

        img {
          width: 100px;

        }
      }

      &__left-bottom {
        position: absolute;
        bottom: -50px;
        left: -50px;

        img {
          width: 100px;
          transform: rotate(-90deg);
        }
      }

      &__right-top {
        position: absolute;
        top: -50px;
        right: -50px;

        img {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__img {
    max-width: 870px;
    margin: 70px auto 0;

    img {
      width: 100%;
    }
  }

  &__frame {
    &__left {
      position: absolute;
      left: -45px;
      top: 100px;
    }

    &__top {
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__right {
      position: absolute;
      top: 160px;
      right: -20px;
    }

    &__left-bottom {
      position: absolute;
      bottom: 150px;
      left: -70px;

      img {
        width: 180px;
      }
    }

    &__right-bottom {
      position: absolute;
      bottom: 12 0px;
      right: -20px;

      img {
        transform: rotate(160deg);
      }
    }
  }
}

// Treatment Section End

.info {
  padding: 120px 0;
  background: #F1F0F7;
  position: relative;
  overflow: hidden;

  &__img {
    max-width: 570px;

    img {
      width: 100%;
      border-radius: 20px;
    }
  }

  &__text {
    max-width: 470px;


    &__highlight {
      position: relative;
      padding-left: 20px;

      &::after {
        position: absolute;
        content: '';
        height: 85%;
        width: 3px;
        background: $primary;
        top: 7%;
        left: 0;
      }
    }
  }

  &__frame {
    &__top-left {
      position: absolute;
      top: 30px;
      left: -80px;

      img {
        width: 194px;
      }
    }

    &__bottom-left {
      position: absolute;
      left: -76px;
      bottom: -130px;

      img {
        width: 276px;
      }
    }

    &__top-right {
      position: absolute;
      top: 30px;
      right: -60px;

      img {
        width: 250px;
      }
    }

    &__bottom-right {
      position: absolute;
      right: -80px;
      bottom: -100px;
      transform: rotate(-15deg);

      img {
        width: 225px;
      }
    }
  }
}

//Info Section End

.businesses {
  padding: 120px 0;
  position: relative;

  &__frame {
    &__left {
      position: absolute;
      top: 100px;
      left: -80px;

      img {
        width: 260px;
      }
    }

    &__top {
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 106px;
      }
    }

    &__right {
      position: absolute;
      top: 50px;
      right: 100px;

      img {
        width: 106px;
        transform: rotate(90deg);
      }
    }

    &__center {
      position: absolute;
      top: 60%;
      left: -30px;


      img {
        width: 106px;
        transform: rotate(90deg);
      }
    }

    &__wrapper {
      position: relative;
    }
  }
}

//Business Section End

.contact {
  padding: 120px 0;
  background:
    linear-gradient(260.39deg, rgba(104, 72, 255, 0) -20.49%, #6848FF 55.93%);
  position: relative;

  &__frame {
    &__left {
      position: absolute;
      top: 30px;
      left: -20px;
    }

    &__middle {
      position: absolute;
      top: 40%;
      left: -20px;
    }
  }

  &__social {
    li {
      a {
        color: $dark;
        font-size: $fs-20;
        font-weight: $fw-600;
        display: flex;
        align-items: center;
      }
    }

    &--icon {
      width: 40px;
      height: 40px;
      background-color: $secondary;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}

//Contact Section End

.about {
  padding-bottom: 120px;
}

//About Section End

.form-card {
  &__label {
    font-size: 18px;
    font-weight: 600;
    color: $dark;
    margin-bottom: 10px;
  }
}

.faq {
  padding-bottom: 120px;

  &__wrapper {
    margin-top: 40px;
    background-color: $light-3;
    padding: 20px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .home-banner {
    margin-top: 100px;
    padding-bottom: 60px;

    &__action {
      margin-top: -150px;
    }

    &__content {
      margin-bottom: 0;
    }

    &__frame {
      &__top {
        left: unset;
        transform: unset;
        right: -60px;
      }

      &__left {
        left: -20px;
        top: 40px;

        img {
          width: 60px;
        }
      }

      &__right {
        position: absolute;
        top: 200px;
        right: unset;
        left: -40px;

        img {
          width: 80px;
        }
      }
    }
  }

  .client {
    padding: 60px 0;
  }

  .highlight {
    padding: 60px 0;
  }

  .businesses {
    padding: 60px 0;
  }

  .about {
    padding-bottom: 60px;
  }

  .contact {
    padding: 60px 0;

    &__social {
      li {
        a {
          font-size: $fs-16;
        }
      }

      &--icon {
        width: 30px;
        height: 30px;
        font-size: $fs-16;
      }
    }
  }

  .faq {
    padding-bottom: 60px;

    &__wrapper {
      margin-top: 30px;
      padding: 8px;
      border-radius: 10px;
    }
  }

}

@media only screen and (max-width: 768px) {
  .home-banner {
    margin-top: 50px;
    padding-bottom: 50px;

    &__action {
      margin-top: 0;
    }
  }

  .client {
    padding: 50px 0;

    &__items {
      margin-top: 50px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }

    &__item {
      img {
        height: 32px;
        width: unset;
      }
    }

    &__frame {
      &__left {
        left: -50px;
        top: 0;
      }

      &__bottom-left {
        left: -40px;
        bottom: -25px;

        img {
          width: 100px;
        }
      }

      &__right {
        position: absolute;
        top: -30px;
        right: -45px;

        img {
          width: 106px;
        }
      }
    }
  }

  .highlight {
    padding: 50px 0;

    &__frame {
      &__top-left {
        left: -30px;
        top: 10px;

        img {
          width: 94px;
        }
      }

      &__top-right {
        top: 10px;
        right: -30px;

        img {
          width: 94px;
        }
      }

      &__bottom-left {
        left: -20px;
        bottom: 0;

        img {
          width: 94px;
        }
      }

      &__bottom-right {
        display: none;
      }
    }

    &__wrapper {
      &__frame {
        &__top {
          top: -15px;
          left: -15px;

          img {
            width: 50px;
          }
        }

        &__bottom {
          bottom: -15px;
          right: -15px;

          img {
            width: 50px;
          }
        }

      }
    }
  }

  .why-works {
    padding: 50px 0;

    &__frame {
      &__left-top {
        display: none;
      }

      &__right-top {
        top: 5px;
        right: -10px;

        img {
          width: 44px;
        }
      }

      &__left-middle {
        display: none;
      }

      &__right-middle {
        display: none;
      }

      &__right-bottom {
        display: none;
      }

      &__left-bottom {
        display: none;
      }
    }

    &__items {
      margin-top: 30px;
    }

    &__item {
      text-align: center;
    }

    &__num {
      font-size: $fs-16;

      &::after {
        width: 20px;
        right: -40px;
      }
    }
  }

  .treatment {
    padding: 50px 0 0;

    &__frame {
      &__left {
        position: absolute;
        left: -45px;
        top: 0;
      }

      &__left-bottom {
        display: none;
      }
    }

    &__wrapper {
      &__frame {
        &__top {
          top: -10px;
          left: -20px;

          img {
            width: 50px;
          }
        }

        &__right-top {
          top: -10px;
          right: -20px;

          img {
            width: 50px;
          }
        }

        &__left-bottom {
          bottom: -10px;
          left: -20px;

          img {
            width: 50px;
          }
        }

        &__bottom {
          bottom: -10px;
          right: -20px;

          img {
            width: 50px;
          }
        }
      }
    }

    &__img {
      margin-top: 30px;
    }
  }

  .info {
    padding: 50px 0;

    &__text {
      max-width: unset;
      position: relative;
      text-align: center;

      &__highlight {
        padding-left: 0;

        &::after {
          display: none;
        }
      }


    }

    &__img {
      margin: 20px auto 0;
    }
  }

  .about {
    padding-bottom: 50px;
  }

  .businesses {
    padding: 50px 0;

    .headline {
      &__text {
        img {
          max-width: 80px;
          margin-top: -20px;
        }
      }
    }
  }

  .contact {
    padding: 50px 0;
  }

  .faq {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 576px) {
  .home-banner {
    &__frame {
      &__right {
        position: absolute;
        top: uset;
        right: unset;
        left: -40px;
        bottom: 30px;
      }
    }
  }

  .why-works {
    &__num {
      font-size: 12px;
    }
  }

  .treatment {
    &__wrapper {
      &__frame {
        &__right-top {
          display: none;
        }

        &__left-bottom {
          display: none;
        }
      }
    }
  }

}