.privacy-policy {
  padding: 40px 0 100px;
  position: relative;
  margin-top: 140px;
  background: url(../img/site-bg.png) center 940px/2000px repeat-y;

  &__items {
    &__list {
      list-style: disc;
      margin-left: 20px;
      font-size: $fs-18;
    }
  }
}