---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="assets/img/welness-plus.ico" />

		<meta name="generator" content={Astro.generator} />
		<title>Wellness Plus RX</title>

		<link
			rel="stylesheet"
			href="assets/vendors/swiper/package/swiper-bundle.min.css"
		/>
		<link
			rel="stylesheet"
			href="assets/vendors/bootstrap/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="assets/icons/style.css" />
		<link rel="stylesheet" href="assets/css/style.css" />
	</head>
	<body>
		<slot />
		<!-- =====|| All JS Integration Start Here ||===== -->
		<script src="assets/vendors/jquery/jquery.3.3.1.js" defer></script>
		<script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js" defer
		></script>

		<script src="assets/vendors/swiper/package/swiper-bundle.min.js" defer
		></script>
		<script src="//in.fw-cdn.com/32464887/1356601.js" defer></script>

		<script src="assets/js/main.js" defer></script>
		<!-- =====|| All JS Integration End Here ||===== -->
	</body>
</html>
